@font-face {
    font-family: "vazir";
    src: url(/font/Vazir-Medium-FD-UI.woff);
    font-weight: normal;
}

@font-face {
    font-family: "vazir";
    src: url(../font/Vazir-Medium-FD-UI.eot);
    font-weight: lighter;
}

:root {
    --secondPurple: #7f53ac;
    --mainBlue: #caebff;
    --secondBlue: #00B3CD;
    --mainPurple: #647dee;
    --transparentBlue: rgba(246, 251, 255, 0.702);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: #e0dddd;
    --mainYellow: #e3b505;
}

/** REM values to target root element 1REM = 10px */

/* html {
    font-size: 62.5%;
} */

body {
    font-family: "vazir";
    font-weight: lighter;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** nav styles */

nav {
    position: relative;
    top: 30px;
    width: 80%;
    height: 6rem;
    margin: 0 auto;
    background: linear-gradient(to right  ,var(--mainPurple), var(--secondPurple));
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 10px 15px;
    transition: width .5s linear;
    flex-wrap: nowrap;
    z-index: 1;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    transition:all .8s ease-in-out;
}


.nav-item a {
    color: var(--mainWhite) !important;
    font-family: "vazir";
}

.login-input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: var(--mainWhite);
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 4px;
}

.login-input-icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin-left: 5px;
    transform: translateY(-4px);
    animation: dance 0.7s infinite ease-in-out;
}

@keyframes dance {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}

.login-input a {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 300;
}

.navbar-btn-parent{
    display: none;
}

.navbar-btn{
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    margin-right: 5%;
}
.navbar-btn i{
    color: var(--mainWhite);
    font-size: 1.8rem;
}

.cart-icon {
    padding: 5px 5px;
    font-size: 20px;
    color: var(--mainWhite);
    border-right: 1px solid var(--mainWhite);
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 4rem;
    border-radius: 0%;
    margin: 0%;
    box-shadow: none;
}

.responsive-menu{
    position: absolute;
    top: 0%;
    right: -80%;
    width: 70%;
    height: 100vh;
    background: #292c2e;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.close-menu i:hover{
    color: var(--secondBlue);
    cursor: pointer;

}
.access-menu{
    width: 80%;
    margin: 0rem auto;
    color: var(--secondBlue);
    font-size: 1.3rem;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid var(--mainWhite);
}

.responsive-nav{
    list-style: none;
    padding: 0 1rem;
}




.responsive-nav li a{
    color: #FFFFFF;
    font-family: "vazir" !important;
    font-weight: 300;
    text-decoration: none;
}
.responsive-nav li a:hover{
    color: var(--secondBlue);
}

.responsive-nav li i{
    color: var(--secondBlue);
    font-size: 1.5rem;
    margin-left: 0.5rem;
   
    
}

.close-menu i{
color: var(--mainWhite);
font-size: 2rem;
}

/**End nav styles */

header{
    width: 100%;
    height: auto;
    background:linear-gradient(to top , var(--secondPurple) , var(--mainPurple));
    margin-top: 3rem;
    padding:15rem 0 !important;
    /* clip-path: polygon(100% 0, 100% 95%, 78% 94%, 50% 100%, 21% 95%, 0 95%, 0 0); */
}

.dynamic-text::after {
    content: " ";
    border-left: 3px solid var(--secondPurple);
    margin-right: 5px;
    animation: dynamic 0.7s infinite ease-in-out;
}

@keyframes dynamic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dynamic-parent {
    width: 10rem;
}

.dynamic-text {
    color: var(--secondPurple);
}

.header-text {
    background-color: var(--mainWhite);
    box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 5px;
    border-radius: 20px;
}


.test{
    width: 100%;
    height: 100vh;
}

.landing-search{
    width: 100%;
    height: 10rem;
    position: relative;
}



 .landing-search input{
     width: 25rem;
     height: 3rem;
     box-shadow: rgba(255, 249, 249, 0.2) 3px -8px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 5rem;
} 


.search-icon{
    width: 5rem;
    height: 3rem;
    position: absolute;
    left: calc(50% - 13rem);
    top: 6rem;

}

.search-icon i{
    font-size: 20px;
    color: var(--mainPurple);
}

.introduction{
    width: 50%;
    margin: 0 auto;
}

.intro-icon{
    width: 4rem;
    height: 4rem;
    object-fit: cover !important;
}

.intro-number{
    color: var(--mainGrey);
    font-size: 18px;
}

.intro-text{
    font-size: 16px;
    color: var(--mainGrey);
}

/** end header style */ 

.bold-text {
    width:10rem;
    background-color: var(--mainPurple);
    color: #FFFFFF;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.feature-icon{
    width: 5rem;
    height: 5rem;
    margin: 1rem auto;
    border-radius: 50%;
    background-color:var(--mainPurple);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-icon i{
    font-size: 30px;
    color: var(--mainWhite);
}

.bold-word{
    color: var(--secondPurple);
}

.feature-underline{
    width: 3rem;
    height: 0.2rem;
    margin: 1rem auto;
    background-color: var(--mainPurple);
    text-align: center;
}

